@model List<Employee>

@{
    ViewData["Title"] = "Employees";
}

<a class="btn btn-dark text-light mb-2" href="Employee/Add">Add Employee</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">JobTitle</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Employee e in Model)
        {
            <tr>
                <th scope="row">@e.Id</th>
                <td>@e.FirstName</td>
                <td>@e.LastName</td>
                <td>@e.Email</td>
                <td>@e.Job?.Title</td>
                <td>@e.Salary</td>
            </tr>
        }
        @Html.Raw(Model.Count == 0 ? "<tr><td colspan='6' class='text-center fw-bold p-3'>No jobs were found</td></tr>" : "")
    </tbody>
</table>


